.modal-header
  span.font-modal  Confirmare prelucrare date cu caracter personal
.modal-body.visible-overflow
  .row
    .col-xs-10.col-xs-offset-1.animate-show.text-justify
      div.text-center
        img(src="app/images/logo.png" width='20%')
      p.indent-35 Vă informăm că, începând cu data de 25 mai 2018, sunt aplicabile prevederile Regulamentului (UE) nr. 679/2016, al Parlamentului European și al Consiliului Uniunii Europene, privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter personal și privind libera circulație a acestor date și de abrogare a Directivei 95/46/CE (Regulamentul general privind protecția datelor).
      p.indent-35 Având în vedere dispozițiile Regulamentului general privind protecția datelor, trebuie să vă exprimați consimțământul (acordul) cu privire la prelucrarea datelor dumneavoastră cu caracter personal pe care le furnizați în vederea accesării/furnizării serviciilor oferite de SC YOUR CONSULTING SRL privind platforma informatică Your Registru.
      p.indent-35 SCOPUL prelucrării datelor personale reiese din contractul de servicii încheiat și prin urmare, datele cu caracter personal vor fi prelucrate doar în scop contractual și legal. Așadar, prelucrarea datelor cu caracter personal facilitează desfășurarea activităților aflate în legătură cu contractul și/sau în vederea îndeplinirii obligațiilor legale.
      p.indent-35 DREPTURILE oferite de noul regulament sunt următoarele:
      p.indent-70  1. Dreptul de acces reprezintă dreptul de a obține o confirmare din partea noastră că prelucrăm sau nu date dumneavoastră, iar dacă da, să vă oferim acces la aceste date precum și informații despre cum sunt prelucrate
      p.indent-70  2. Dreptul la portabilitate se referă la faptul că poți primi datele personale într-un format structurat, care poate fi citit automat  și la dreptul că acestea pot fi transmise direct altui operator.
      p.indent-70  3.	Dreptul la opoziție vizează dreptul de a te opune prelucrării datelor personale atunci când acesta deservește un interes public ori un interes legitim
      p.indent-70  4.	Dreptul la rectificare se referă la corectarea fără întârzieri nejustificate, a datelor personale inexacte
      p.indent-70  5.	Dreptul la ștergere/dreptul de a fi uitat reprezintă dreptul de a vă fi șterse datele colectate fără întârzieri nejustificate în oricare din următoarele situații: nu mai sunt necesare pentru îndeplinirea scopurilor pentru care au fost colectate, a fost retras consimțământul dumneavoastră și nu există alt temei juridic pentru prelucrare, vă opuneți prelucrării, datele trebuie șterse pentru respectarea unei obligații legale etc.
      p.indent-70  6.	Dreptul la restrictionarea prelucrării - este dreptul de a obtine restrictionarea prelucrării datelor de către persoana vizată
      p.indent-35 Refuzul dumneavoastră de a vă da acordul cu privire la prelucrarea datelor cu caracter personal care vă privesc conduce la imposibilitatea de a beneficia de serviciile oferite prin intermediul platformei informatice Your Registru  (inclusiv serviciile furnizate pe bază de abonament).
      p.indent-35 Pentru a vă exprima consimțământul (acordul) cu privire la prelucrarea datelor cu caracter personal trebuie să intrați pe platoformă  și să inițiați procesul de logare.
      p.indent-35 Vă mulțumim.
      p.text-center Cu stimă,
      p.text-center Echipa <b>YOUR CONSULTING</b>
.modal-footer.text-center
  button.btn.btn-primary.btn-sm(ng-click='accept()')  Sunt de acord cu prelucrarea datelor cu caracter personal

