.container-fluid-menu
  #left-menu.sidebar(ng-click='changeLeftMenu(maxLeft)')
    include ../../main/left-menu
  #bodyMain.body-menu
    form.form-horizontal(ng-keypress='($event.which === 13) ? salveaza() : 0')
      .row
        .col-xs-4.col-xs-offset-4.text-center
          span.font-title  Autovehicule și cumpărători
        .col-xs-12.p-bottom-5
          button.btn.btn-xs.btn-primary(ng-click='addAutos();')
            i.fa.fa-plus
            |   Adaugă autovehicul
        .col-xs-12
          #grAutos.gridStyle(ui-grid='gridAutos' ui-grid-resize-columns)

