.modal-header
  span.font-modal Adaugă persoană
.modal-body
  form.form-horizontal(ng-keypress='($event.which === 13) ? salveaza() : 0')
    .row
      fieldset
        legend Date despre autovehicul
        .col-xs-12.p-bottom-5
          label.control-label.col-xs-2 Categoria
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.category')
          label.control-label.col-xs-2 Caroseria
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.body')
          label.control-label.col-xs-2 Marca
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.mark')
        .col-xs-12.p-bottom-5
          label.control-label.col-xs-2 Tipul
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.type')
          label.control-label.col-xs-2 Nr omologare
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.approval_number')
          label.control-label.col-xs-2 Anul fabricației
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.manufacturing_year')
        .col-xs-12.p-bottom-5
          label.control-label.col-xs-2 Nr de identificare
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.identification_number')
          label.control-label.col-xs-2 Serie motor
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.motor_series')
          label.control-label.col-xs-2 Cilindri
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.cylinder')
        .col-xs-12.p-bottom-5
          label.control-label.col-xs-2 Sursa de energie
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.energy_source')
          label.control-label.col-xs-2 Culoarea
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.color')
          label.control-label.col-xs-2 Data primei inmatriculări
          .col-xs-2
            input.input-sm.form-control(type='date' ng-model='auto.first_registration')
        .col-xs-12
          label.control-label.col-xs-2 Nr inmatriculare
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.registration_number')
          label.control-label.col-xs-2 Nr cartii de identificare
          .col-xs-2
            input.input-sm.form-control(ng-model='auto.book_identification')
.modal-footer
  button.btn.btn-sm.btn-default(ng-click='$dismiss()') Renunţă
  button.btn.btn-sm.btn-success(ng-click='save();') Adaugă