.report-view
  //.text-center(ng-if='(gridCap15a.data && !gridCap15a.data.length ) || (gridCap15b.data && !gridCap15b.data.length) || (wrongCnp && wrongCnp.length < 20)')
    p.font-main.blink Registru agricol
  //.col-xs-12
    .no-padding-panel
      uib-accordion
        .panel-default(uib-accordion-group='' is-open='status.isOpen1' ng-if='updates.length > 0')
          uib-accordion-heading
            b.text-danger   Actualizări platformă
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.isOpen1, 'glyphicon-chevron-right': !status.isOpen1}")
          table.table.m-bottom-0(rules="rows")
            tbody
              tr(ng-repeat-start='u in updates')
                td.warning(rowspan='{{u.description.length}}' width='13%') Data: {{u.data | date: "dd.MM.yyyy"}}
                td
                  b {{u.description[0].type}}
                  i.glyphicon.glyphicon-arrow-right
                  | {{u.description[0].description}}
              tr(ng-repeat='d in u.description' ng-if='!$first' ng-repeat-end)
                td
                  b {{d.type}}
                  i.glyphicon.glyphicon-arrow-right
                  | {{d.description}}
  .col-xs-12(ng-if='updates.length > 0')
    p.font-title Actualizări platformă
    table.table.m-bottom-0(rules="rows")
      tbody
        tr(ng-repeat-start='u in updates')
          td.bold(rowspan='{{u.description.length}}' width='13%') Data: {{u.data | date: "dd.MM.yyyy"}}
          td
            span.bold {{u.description[0].type}}
            p(ng-bind-html='trustAsHtml(u.description[0].description)')
        tr(ng-repeat='d in u.description' ng-if='!$first' ng-repeat-end)
          td
            span.bold {{u.description[0].type}}
            p(ng-bind-html='trustAsHtml(d.description)')
