nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      .inline-block.float-left#to-hide
        a.slidebar-toggle.pull-left(href='javascript:history.back(-1);')
          i.glyphicon.glyphicon-arrow-left.m-top-15
        a.slidebar-toggle.pull-left.p-left-10(href='javascript:location.reload();')
          i.glyphicon.glyphicon-repeat.m-top-15
      //a.navbar-brand(href='https://yourconsulting.ro/' target='_blank')
        img.img-responsive(src='app/images/logo.png' alt='YourConsulting')
    ul.nav.navbar-nav
      li
        a.dropdown-toggle(href='#/')
          i.glyphicon.glyphicon-home
          |   Acasă
      li
        a.dropdown-toggle(href='#/persons')
          i.glyphicon.glyphicon-home
          |   Persoane


    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href='' data-toggle='dropdown')
          label#lbName   {{userName}} &nbsp
          i.fa.fa-spinner.fa-pulse.fa-3x.font-20
          span.caret
        ul.dropdown-menu.right-dropdown(role='menu')
          li
            a(href='' ng-click='editProfile()')
              i.glyphicon.glyphicon-user
              |   Profil
          li
            a(href='' ng-click='resetPw()')
              i.glyphicon.glyphicon-edit
              |   Resetare parolă
          li
            a(href='' ng-click='getHandbook()')
              i.glyphicon.glyphicon-info-sign
              |   Manual utilizare
          li
            a(href='#/contact')
              i.glyphicon.glyphicon-envelope
              |   Contact
          li.divider
          li
            a(href='' ng-click='logOut()')
              i.glyphicon.glyphicon-off
              |   Deconectare
div.text-center.no-padding(ng-if='idDemo === 97')
  h4.bold.text-warning.m-top-0 Acesta este un cont demo!



script.
    (function ($) {
        $(document).ready(function () {
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    })(jQuery);
