#left-menu
    ul.list-unstyled
        li.nav-header(ng-class='!maxLeft ? "text-center" : ""')
            a(href='#/person')
                i.glyphicon.glyphicon-user(uib-tooltip='Persoana' tooltip-placement="right")
                span.m-left-10(ng-if='maxLeft') Persoana
        li(ng-class='!maxLeft ? "text-center" : ""')
            a(href='#/autos')
                i.fa.fa-car(uib-tooltip='Vehicule și cumpărători' tooltip-placement="right")
                span.m-left-10(ng-if='maxLeft') Vehicule și cumpărători
        li(ng-class='!maxLeft ? "text-center" : ""')
            a(href='#/registrationForm')
                i.fas.fa-book-open(uib-tooltip='Fișă înmatriculare' tooltip-placement="right")
                span.m-left-10(ng-if='maxLeft') Fișă înmatriculare
