/* ------------------------------------------------ WIDTH - MAX ------------------------------------------------ */
@media (max-width: 1920px) {
  #subMMenu {
    .nav > li > a {
      padding: 10px 10px;
    }
  }
}
@media (min-width: 1601px) {
  .report-view{
    width: 80%;
    margin-left: 10%;
  }
}@media (max-width: 1600px) {
  .report-view{
    width: 90%;
    margin-left: 5%;
  }
}
@media (max-width: 1400px) {
  .report-view{
    width: 100%;
    margin-left: 0;
  }
  .width-centralazing {
    width: 100%;
  }
  #subMMenu {
    .navbar-nav {
      width: 100% !important;
    }
  }
  .nav > li > a {
    padding: 10px 10px;
  }
  .modal-sm {
    min-width: 50%;
  }
  .modal-md{
    width: 90%;
  }
  .modal-lg{
    width: 95%;
  }
  ul.dropdown-menu[role='listbox'] {
    max-width: 66.7%;
  }
  .font-report {
    font-size: 12px;
  }
}
@media (max-width: 1199px) {
  #subMMenu {
    .nav > li > a {
      padding: 8px 8px;
    }
  }
  ul.dropdown-menu[role='listbox'] {
    max-width: 51%;
  }
}
@media (max-width: 768px) {
  .navbar-header {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  ul.nav {
    display: inline-block;
  }
  ul.nav > li {
    float: left;
  }
  .navbar-right {
    float: right;
  }
  .dropdown .open {
    display: none !important;
  }
  .navbar-nav {
    margin: 5px 0 0 0;
  }
  ul.dropdown-menu[role='listbox'] {
    max-width: 49%;
  }
}

/* ------------------------------------------------ WIDTH - MIN ------------------------------------------------ */
@media (min-width: 1200px) {
  .modal-sm {
    min-width: 40%;
  }
  .modal-md {
    width: 70%;
  }
  .modal-lg {
    width: 95%;
  }
}
@media (min-width: 1366px) {
  .width-centralazing {
    width: 80%;
  }
  .font-12 * {
    font-size: 12px !important;
  }
  #subMMenu {
    .navbar-nav {
      width: 92% !important;
    }
  }
  ul.dropdown-menu[role='listbox'] {
    max-width: 67.7%;
  }
}
@media (min-width: 1440px) {
  #subMMenu {
    .navbar-nav {
      width: 90% !important;
    }
  }
  #lbName {
    max-width: 320px !important;
  }
}
@media (min-width: 1600px) {
  .width-centralazing {
    width: 70%;
  }
  .font-12 * {
    font-size: 13px !important;
  }
  #subMMenu {
    .navbar-nav {
      width: 80% !important;
    }
  }
  .modal-sm {
    min-width: 40%;
  }
  .modal-md{
    width: 60%;
  }
  .modal-lg{
    width: 80%;
  }
  ul.dropdown-menu[role='listbox'] {
    max-width: 56.7%;
  }
  #lbName {
    max-width: 420px !important;
  }
}
@media (min-width: 1920px) {
  #subMMenu {
    .nav > li > a {
      padding: 15px 15px;
      font-size: 16px;
    }
  }
  #lbName {
    max-width: 720px !important;
  }
}


/* ------------------------------------------------ HEIGHT - MAX ------------------------------------------------ */
@media (max-height: 900px) {
  .view-2b {
    max-height: 68vh;
  }
  .farm-view {
    height: 75vh;
  }
  .ran-view {
    height: 78vh;
  }
  .report-view {
    height: 90vh;
  }
  .scrollableContainer {
    height: 73vh;
  }
  .gridStyle {
    height: 76vh;
  }
  .gridStyleModal {
    height: 68vh;
  }
}
@media (max-height: 800px) {
  .view-2b {
    max-height: 65vh;
  }
  .farm-view {
    height: 74vh;
  }
  .ran-view {
    height: 77vh;
  }
  .report-view {
    height: 88vh;
  }
  .scrollableContainer {
    height: 71vh;
  }
  .gridStyle {
    height: 75vh;
  }
  .gridStyleModal {
    height: 67vh;
  }
}
@media (max-height: 768px) {
  .view-2b {
    max-height: 64vh;
  }
  .farm-view {
    height: 72vh;
  }
  .ran-view {
    height: 75vh;
  }
  .scrollableContainer {
    height: 55vh;
  }
}
@media (max-height: 720px) {
  .view-2b {
    max-height: 57vh;
  }
  .farm-view {
    height: 66vh;
  }
  .ran-view {
    height: 67vh;
  }
  .report-view {
    height: 86vh;
  }
  .scrollableContainer {
    height: 64vh;
  }
  .gridStyle {
    height: 70vh;
  }
  .gridStyleModal {
    height: 65vh;
  }
}
@media (max-height: 600px) {
  .view-2b {
    max-height: 54vh;
  }
  .farm-view {
    height: 60vh;
  }
  .report-view {
    height: 84vh;
  }
  .scrollableContainer {
    height: 60vh;
  }
  .gridStyle {
    height: 63vh;
  }
}
@media (max-height: 500px) {
  .view-2b {
    max-height: 48vh;
  }
  .farm-view {
    height: 54vh;
  }
  .scrollableContainer {
    height: 48vh;
  }
  .ran-view {
    height: 67vh;
  }
  .gridStyle {
    height: 54vh;
  }
}

/* ------------------------------------------------ HEIGHT - MIN ------------------------------------------------ */
@media (min-height: 901px) {
//  .scrollableContainer {
//    height: 76vh;
//  }
  .gridStyle {
    height: 78vh;
  }
  .gridStyleModal {
    height: 68vh;
  }
  .view-2b {
    max-height: 72vh;
  }
  .farm-view {
    height: 78vh;
  }
  .report-view {
    height: 90vh;
  }
  .ran-view {
    height: 78vh;
  }
}
