body {
  background-color: #E3E3E3;
  font-size: 14px;
  overflow-y: hidden;
  min-width: 1280px;
  padding: 0 !important;
  font-family: "Times New Roman", Times, serif;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

.form-custom{
  width: 100%;
  border: 0;
  padding: 6px;
  background-color: transparent;
  border: none;
}
.form-custom:focus, button:focus{
  outline: none !important;
}
.custom-textarea{
  overflow-y: hidden;
  background-color: transparent;
  border: none;
  text-align: justify;
}
/* ----------------------- STYLES ----------------------- */
.input-label {
  display: inline-block;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  max-width: 100%;
  font-weight: normal;
  background-color: #ededed;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-label:hover {
  cursor: not-allowed;
}
.input-label.input-md {
  border-radius: 4px;
  padding: 4px 7px;
}
.display-none{
  display: none;
}
.bold {
  font-weight: bold;
}
.bordered {
  border: 1px solid #a9a9a9 !important;
}
.bordered-0 {
  border: none !important;
}
.inline-block {
  display: inline-block;
}
label.control-label {
  text-align: right;
  padding-right: 5px;
  padding-top: 5px !important;
}
.btn-grey {
  background-color: #ededed;
}
.btn-green {
  background-color: #009900 !important;
}
.overflow-y {
  overflow-y: visible;
}
.overflow-hidden {
  overflow: hidden;
}
textarea {
  overflow: hidden;
  resize: none;
  padding: 4px 8px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.caret {
  border-top: 7px dashed;
  border-top: 4px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.like-btn-default {
  background-color: #fdfdfe;
}
.like-btn-default:hover {
  cursor: pointer;
  background-color: #ededed;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.w-220 {
  min-width: 250px !important;
  max-width: 250px !important;
}
.w-160 {
  min-width: 160px !important;
  max-width: 160px !important;
}
.w-60 {
  min-width: 70px !important;
  max-width: 70px !important;
}
.w-10 {
  min-width: 10px !important;
  max-width: 10px !important;
}

.w-500-px .select2-drop {
  width: 500px;
}

.checkbox-lg {
  width: 23px;
  height: 23px;
}
.checkbox-md {
  width: 19px;
  height: 19px;
}
.img-auto-rezise {
  width: 100%;
  height: auto;
}
.input-md {
  height: 30px;
  padding: 2px 7px;
}
.input-sm {
  height: 26px;
  padding: 2px 7px;
}
select.input-sm {
  height: 26px;
}
/* --------------- cap 15 --------------- */
.w-200 {
  width: 200px;
}

/* --------------- uib-typehead autocomplete --------------- */
.panel-group{
  margin-bottom: 6px;
}
[uib-typeahead-popup] {
  max-height: 450px;
  overflow-y: auto;
}
[uib-typeahead-popup] li a {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
/* --------------- user name --------------- */
#lbName {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -5px;
}
.float-left {
  float: left;
}




/* ----------------------- TABLE ----------------------- */
.table {
  margin-bottom: 0;
}
.table > tbody + tbody {
  border: none;
}
th {
  .bordered;
  text-align: center;
  vertical-align: middle !important;
  padding: 4px!important;
}
td {
  .bordered;
  vertical-align: middle !important;
  padding: 4px!important;
}
.table-hover tbody tr.bg-info:hover > td {
  background-color: #cadde6;
}
.table-hover tbody tr:hover > td input, .table-hover tbody tr:hover > td textarea , .table-hover tbody tr:hover > td select {
  background-color: #f5f5f5 !important;
}
.table-hover tbody tr:hover > td input:disabled, .table-hover tbody tr:hover > td textarea:disabled {
  background-color: #ededed;
}


/* ----------------------- NAVBAR ----------------------- */

ul.hover {
  padding: 0;
  li {
    list-style: none;
    a {
      padding-left: 15px;
    }
    &:hover {
      cursor: pointer;
      background: #f6ecb8;
    }
  }
}

.navbar {
  min-height: 40px;
}

.navbar-default {
  font-size: 14px;
  background: linear-gradient(to bottom, #d4cfc8 0%, #ffffff 100%);
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-nav {
    li {
      a {
        padding: 10px 5px;
        background: transparent !important;
        &:focus, &:hover {
          //.bold
          color: #337ab7;
        }
        &:focus {
          outline: none;
        }
      }
      ul.dropdown-menu {
        z-index: 10000;
        li {
          a {
            padding: 3px 10px;
            background: transparent !important;
            &:hover {
              color: #337ab7;
            }
          }
          &:hover {
            background: ghostwhite;
          }
        }
      }
    }
  }
}

.navbar-header {
  img {
    width: 70px;
  }
  a {
    &:hover {
      color: darkblue;
    }
  }
  .navbar-brand {
    margin-left: 0 !important;
    height: 40px;
  }
}

a {
  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
}

.append-to-body {
  position: fixed;
  top: auto;
  left: auto;
  margin-top: 25px;
}

.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>a:after {
  border-left-color:#555;
}
.dropdown-submenu.pull-left {
  float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}



/* --------------- TOASTR --------------- */
#toast-container.toast-top-right {
  top: 60px;
}
#toast-container {
  div {
    font-size: 14px;
    width: auto !important;
  }
}


/* ----------------------- TOOLTIP ----------------------- */
.tooltip-inner {
  font-size: 12px;
  background-color: #000000;
  color: #ffffff;
  .bold;
  //width: 100px;
  min-width: 50px;
  max-width: 350px;
}

/* -------------- fix tooltip for btn-group -------------- */
.btn-group > .btn:last-of-type {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  margin-left: 0;
}
.input-group-btn > .btn:last-of-type {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  margin-left: 0;
}

.input-group-addon {
  padding: 5px 10px;
}
.input-group-btn {
  padding: 0;
  .btn-sm {
    line-height: 1.7;
  }
}


/* ----------------------- MARGINS & PADDINGS ----------------------- */
.indent-10 {
  text-indent: 10px;
}
.indent-35 {
  text-indent: 35px;
}
.indent-70 {
  text-indent: 70px;
}
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-bottom-5 {
  padding-bottom: 5px;
}
.p-bottom-7 {
  padding-bottom: 7px;
}
.p-bottom-8 {
  padding-bottom: 8px;
}
.p-bottom-10 {
  padding-bottom: 10px;
}
.p-bottom-20 {
  padding-bottom: 20px;
}
.p-bottom-40 {
  padding-bottom: 40px;
}
.p-left-0 {
  padding-left: 0 !important;
}
.p-left-5 {
  padding-left: 5px !important;
}
.p-left-7 {
  padding-left: 7px;
}
.p-left-10 {
  padding-left: 10px !important;
}
.p-left-22 {
  padding-left: 22px;
}
.p-left-50 {
  padding-left: 50px;
}
.p-top-0 {
  padding-top: 0 !important;
}
.p-top-2 {
  padding-top: 2px;
}
.p-top-3 {
  padding-top: 3px !important;
}
.p-top-4 {
  padding-top: 4px;
}
.p-top-8 {
  padding-top: 8px;
}
.p-top-10 {
  padding-top: 10px;
}
.p-top-15 {
  padding-top: 15px;
}
.p-top-20 {
  padding-top: 20px;
}
.p-top-bottom-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
.p-bottom-0 {
  padding-bottom: 0;
}
.p-0 {
  padding: 0 !important;
}
.p-2, .p-2 td {
  padding: 2px !important;
}
.p-3 {
  padding: 3px !important;
}
.p-4 {
  padding: 4px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-left-right-0 {
  padding-left: 0;
  padding-right: 0;
}
.p-left-right-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.p-left-right-6 {
  padding-left: 6px;
  padding-right: 6px;
}
.p-left-right-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.p-right-0 {
  padding-right: 0;
}
.p-right-5 {
  padding-right: 5px;
}
.p-right-7 {
  padding-right: 7px;
}
.m-0 {
  margin: 0;
}
.m-auto-0 {
  margin: 0 auto;
}
.m-top-0 {
  margin-top: 0;
}
.m-top-2 {
  margin-top: 2px;
}
.m-top-3 {
  margin-top: 3px;
}
.m-top-4 {
  margin-top: 4px !important;
}
.m-top-5 {
  margin-top: 5px;
}
.m-top-8 {
  margin-top: 8px;
}
.m-top-10 {
  margin-top: 10px;
}
.m-top-15 {
  margin-top: 15px;
}
.m-right-5 {
  margin-right: 5px;
}
.m-right-15 {
  margin-right: 15px;
}
.m-left--20 {
  margin-left: -20px;
}
.m-left-5 {
  margin-left: 5px;
}
.m-left-10 {
  margin-left: 10px;
}
.m-left-15 {
  margin-left: 15px;
}
.m-left-30 {
  margin-left: 30px;
}
.m-left-10s {
  margin-left: 10%
}
.m-bottom-0 {
  margin-bottom: 0;
}
.m-bottom-5 {
  margin-bottom: 5px;
}
.m-bottom-10 {
  margin-bottom: 10px;
}


/* ----------------------- FONTS ----------------------- */
.font-main {
  color: #1E5D9C;
  -webkit-text-fill-color: transparent;
  text-shadow: 10px 10px 5px #aaa;
  opacity: 0.1;
  font-size: 4vmax;
}
.modal-title {
  font-size: 18px;
  color: #1E5D9C;
  text-shadow: 2px 2px 2px #d4cfc8;
  opacity: 0.8;
}
.font-title {
  font-size: 20px;
  color: #1E5D9C;
  text-shadow: 2px 2px 2px #aaa;
  opacity: 0.7;
}
p.font-title{
  margin: 0;
  text-align: center
}
.font-11 * {
  font-size: 11px;
}
.font-12 * {
  font-size: 12px !important;
}
.font-17 {
  font-size: 17px;
}
.font-20 {
  font-size: 20px;
}
.serif {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}


@-webkit-keyframes blinker {
  from {opacity: 0.1;}
  to {opacity: 0.01;}
}
.blink {
  text-decoration: blink;
  animation-name: blinker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.btn-sm {
  padding: 4px 8px;
}


/* ----------------------- COLORS ----------------------- */
.bg-disabled {
  background-color: #ededed;
}
.text-green {
  color: #009900 !important;
}
.text-red {
  color: #990000 !important;
}
.bg-red {
  background-color: #b62408 !important;
}
.bg-pink {
  background-color: #ffcfd1!important;
}
.color-primary {
  color: #337ab7;
}
.color-danger {
  color: #b62408 !important;
}
.bg-info-disabled {
  background-color: #d9edf7 !important;
}


/* ----------------------- ACCORDION ----------------------- */
#chapters .panel-heading {
  cursor: pointer;
}
#chapters .panel {
  margin-top: 0;
}
.panel-hover:hover {
  background-color: #eee;
}
/* ----------------------- template person & firm ----------------------- */
.form-panel-header {
  height: 44px !important;
  padding: 7px 0 !important;
}
/* ----------------------- END template person & firm ----------------------- */

/* --------------- accordion reports --------------- */
.panel-default > .panel-heading {
  padding: 2px 15px;
  height: 28px;
}
.panel-default > .panel-heading > h4 {
  height: 100%;
  margin-top: 3px;
}
h4.panel-title > a {
  display: inline-block;
  width: 100% !important;
  height: 100%;
  text-align: center;
}
#panel {
  margin-bottom: 1px !important;
}
#accordion {
  margin-bottom: 3px;
}
.panel-body {
  padding: 4px 37px;
}
.no-padding-panel .panel-body {
  padding: 4px 4px;
}
.panel-heading {
  cursor: pointer;
  padding: 4px 15px;
}
#accordion .panel-heading:hover {
  background-color: #ddd;
}

.ph, .phh:hover {
  border-color: #adadad;
}
.panel-heading span.collapsed:after, .panel-title span.collapsed:after {
  content:"\e080";
}
.panel-heading > span:after, .panel-title > span:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}
.blue {
  border-color: #31708f!important
}


/* ----------------------- GRID ----------------------- */
//.gridStyle .gridStyleModal {
//  .bordered;
//  padding-left: 1px;
//  padding-right: 1px;
//}
//.ui-grid-header-cell-wrapper {
//  text-align: center;
//}
//.ui-grid-filter-container {
//  padding: 4px;
//}
//.ui-grid-filter-select {
//  height: 22px;
//  margin-right: 15px !important;
//}
//.ui-grid-column-menu-button .ui-grid-icon-angle-down {
//  visibility: hidden;
//}

.ui-grid-filter-container {
  padding: 2px;
}

.ui-grid-column-menu-button .ui-grid-icon-angle-down {
  visibility: hidden;
}

.ui-grid-header-cell {
  text-align: center;
}

.ui-grid-native-scrollbar {
  position: fixed !important;
}

.ui-grid {
  border: 1px solid rgb(212, 212, 212);
  position: static;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 14px;
}

.gridStyle {
  height: 400px;
}

.gridIstoricRap {
  overflow-y: auto;
  height: 550px;
}

.gridIstoric {
  height: 200px;
}

.modal-gr .ui-grid-render-container-body .ui-grid-viewport {
  width: 100% !important;
}
/* ----------------------- END GRID ----------------------- */

/* ----------------------------------------------- MODAL ----------------------------------------------- */
.modal-dialog {
  margin: 10px auto;
}
.modal-open {
  padding-right: 0!important;
}
.modal-header, .modal-footer {
  padding: 5px 10px;
}
.modal-footer {
  .btn-sm {
    padding: 3px 8px;
  }
}
.modal-body {
  max-height:calc(100vh - 100px)!important;
  overflow-y: auto;
}
.modal-header > span {
  font-size: 18px;
  color: #1E5D9C;
  text-shadow: 2px 2px 2px #d4cfc8;
}
.dialogs-default .modal-footer {
  button {
    padding: 3px 12px;
  }
}
/* ----------------------------------------------- END MODAL ----------------------------------------------- */

/* ----------------------------------------------- MODAL FULL-HEIGHT (pt pdf) ----------------------------------------------- */
.full-screen .modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
  width: 84%;
  height: 100%;
}

.ifrm-pdf-full {
  width: 100%;
  height: 100%;
}

.full-screen .modal-content {
  .ifrm-pdf-full
}

.full-screen .modal-body {
  max-height: 99vh!important;
  overflow-y: auto !important;
  padding: 10px;
  .ifrm-pdf-full
}

.height-title-pdf {
  height: 32px;
}

.height-ifrm-pdf {
  height: calc(100% - 32px);
}
/* ----------------------------------------------- END MODAL FULL-HEIGHT (pt pdf) ----------------------------------------------- */


/* ----------------------- UI-SELECT ----------------------- */
.w-500-px .select2-drop {
  width: 500px;
}
.input-group .select2-arrow, .input-group .select2-choice, .input-group .ui-select-match {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.select2-container .select2-choice {
  height: 30px;
  line-height: 30px;
}
.sm.select2-container .select2-choice {
//  height: 30px;
  height: 26px;
  line-height: 26px;
}
.select2-results {
  max-height: 300px;
}
a.select2-choice>span>span {
  font-size: 16px;
}
.ui-select-placeholder {
  width: auto !important;
}
.select2-choice>input {
  width: 100% !important;
}
.select2-results, .select2-result-label, .ui-select-placeholder, .ui-select-match {
  font-size: 11px !important;
}
.select2-container .select2-choice > .select2-chosen {
  font-size: 12px !important;
}
.select2-choices {
  border-radius: 4px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 4px !important;
  margin: 0;
//  width: 100%!important;
}
.select2-search input {
  padding: 2px 20px 2px 5px;
}
.select-ellipsis {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}
.select2-container {
  width: 100%;
}
.ui-select-search-hidden{
  display:none
}

/* ----------------------- DATEPICKER ----------------------- */
button.btn-info.uib-datepicker-current {
  text-indent: -9999px;
  line-height: 0;
}
button.btn-info.uib-datepicker-current:after {
  content: 'Astăzi';
  text-indent: 0;
  display: block;
  line-height: 1;
}
button.btn-danger.uib-clear {
  text-indent: -9999px;
  line-height: 0;
}
button.btn-danger.uib-clear:after {
  content: 'Şterge';
  text-indent: 0;
  display: block;
  line-height: 1;
}
.no-clear-btn button.btn-info.uib-datepicker-current {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.no-clear-btn button.btn-danger.uib-clear {
  display: none !important;
}
button.btn-success.uib-close {
  text-indent: -9999px;
  line-height: 0;
}
button.btn-success.uib-close:after {
  content: 'Închide';
  text-indent: 0;
  display: block;
  line-height: 1;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left: 20px;
}


/* ----------------------------------------------- FIELDSET ----------------------------------------------- */
fieldset {
  .bordered;
  padding: 0 0 8px 0 !important;
  margin: 0 15px 0.5em !important;
//  box-shadow: 3px 3px 0 0 #ddd;
  .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
legend {
  font-size: 1.15em !important;
  .bold;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  margin-left: 30px;
  margin-bottom: 5px;
  border-bottom: none;
  color: #1E5D9C;
}
fieldset .panel-body {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
/* ----------------------------------------------- END FIELDSET ----------------------------------------------- */


.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all ease 0.4s;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


.view-2b::-webkit-scrollbar-track,
.report-view::-webkit-scrollbar-track,
.farm-view::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.view-2b::-webkit-scrollbar,
.report-view::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar,
.farm-view::-webkit-scrollbar {
  width: 0;
}

.view-2b::-webkit-scrollbar-thumb,
.report-view::-webkit-scrollbar-thumb,
.farm-view::-webkit-scrollbar-thumb
{
  background-color: #333333;
  border-radius: 2px;
}

.table-fixed {
  table-layout: fixed;
  td, th {
    word-wrap: break-word;
  }
}

.farm-view, .report-view, .view-2b, .ran-view, .overflow-y-auto {
  overflow-y: auto!important;
}
.width-centralazing {
  margin-left: auto;
  margin-right: auto;
}

.vertical{
  height:63px;
  padding-right: 2px;
  writing-mode: vertical-rl;
  filter: flipv() fliph();
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
  margin: 0 !important;
}

.input-xs {
  height: 22px;
  padding: 2px;
}


.view-table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.view-table::-webkit-scrollbar {
  width: 0;
}

.view-table::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 2px;
}
.view-table {
  overflow-y: auto;
}




/* ----------------------- CONTACT PAGE ----------------------- */
.card {
  overflow: hidden;
  position: relative;
  border: none !important;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: transparent;
  color: #000000;
}
.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 50px;
  z-index: 100;
}
.card .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 30, 0.8);
}
#mapC {
  float: left;
  height: 550px !important;
  width: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
}
.select-style {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}

#scrollable-dropdown-menu .dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
#selectModal {overflow-y: inherit; }

.dropdown-menu {
  z-index: 10000;
}

.modal-open .dropdown-menu {
  z-index: 2050;
}



/* ----------------------- SCROLLABLE TABLE ----------------------- */
.scrollableContainer {
  position: relative;
  padding-top: 35px;
  overflow: hidden;
}
.scrollableContainer .headerSpacer {
  background-color: #faf7e2;
  border: 1px solid #a8a8a8;
  position: absolute;
  height: 37px;
  top: 0;
  right: 0;
  left: 0;
}
.scrollableContainer th .orderWrapper {
  position: absolute;
  top: 0;
  right: 2px;
  cursor: pointer;
}
.scrollableContainer th .orderWrapper .order {
  font-size: 8pt;
  color: #BDBDBD;
}
.scrollableContainer th .orderWrapper .active {
  color: #464646;
}

.scrollArea {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
//  border: 1px solid #a8a8a8;
  overflow-scrolling: auto;
  padding-right: 1px;   // wtf???
  border: none;
}
.scrollArea table {
  overflow-x: auto;
  overflow-y: auto;
  margin-bottom: 0;
  width: 100%;
  border: none;
}
.scrollArea table th {
  padding: 0 !important;
  border: none !important;
  min-width: 40px;
}
.scrollArea table .th-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 2px;
  height: 34px;
  line-height: 34px;
  background-color: #faf7e2;
}

.scrollArea table th .box {
  padding: 0 11px 0 8px;
  border-left: 1px solid #a8a8a8;
}

/*  to hack fix firefox border issue    */
@-moz-document url-prefix() {
  .scrollArea table th .box{
    border-right: 1px solid #a8a8a8;
    border-left: none;
  }
}

.scrollArea table .th-inner .ng-scope {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scrollArea table tr th:first-child th .box {
  border-left: none;
}
.scrollArea table .th-inner.condensed {
  padding: 0 3px;
}
.scrollArea table tbody tr td:first-child {
  border-left: none;
}
.scrollArea table tbody tr td:last-child {
  border-right: none;
}
.scrollArea table tbody tr:first-child td {
  border-top: none;
}
.scrollArea table tbody tr:last-child td {
  border-bottom: 2px solid #a8a8a8;
}
.scrollArea table tbody tr td {
  border-bottom: 1px solid #a8a8a8;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollableContainer .scaler {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #CFCFCF;
}

.scrollableContainer th .resize-rod {
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
  width: 4px;
  height: 100%;
}

.scrollable-resizing .scrollableContainer {
  cursor: col-resize;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



/* ----------------------- CUSTOM TABLE CAP 5B ONLY ----------------------- */
.fixed-table-container {
  border: 1px solid #a8a8a8;
  background-color: #faf7e2;
  position: relative; /* could be absolute or relative */
  padding-top: 30px; /* height of header */
}

.fixed-table-container-inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.header-background {
  background-color: #faf7e2;
  height: 30px; /* height of header */
  position: absolute;
  border-bottom: 1px solid #a8a8a8;
  top: 0;
  right: 0;
  left: 0;
}

.complex-th-inner {
  position: absolute;
  top: 0;
  line-height: 30px; /* height of header */
  text-align: left;
  border-left: 1px solid #a8a8a8;
  margin-left: -5px;
}
.one-row .complex-th-inner {
  border-left: 1px solid #a8a8a8;
  padding-left: 6px;
}

/* for complex headers */
.complex.fixed-table-container {
  padding-top: 42px; /* height of header */
  overflow-x: hidden; /* for border */
}

.complex .header-background {
  height: 60px;
}

.complex-top .complex-th-inner {
  border-bottom: 1px solid #a8a8a8;
  width: 100%
}

.complex-bottom .complex-th-inner {
  top: 30px;
  width: 100%
}

.complex-top .two-rows .complex-th-inner { /* double row cell */
  height: 60px;
  background-color: #faf7e2;
}

.inner-span {
  display: block;
  text-align: center;
}
.w-12-pr {
  width: 12%;
}
.w-50-pr {
  width: 50%;
}
/* ----------------------- END CUSTOM TABLE CAP 5B ONLY ----------------------- */

.colorExitDate .ui-grid-cell-contents
{
  background-color: #90d3e3;
}

.colorDead .ui-grid-cell-contents
{
  background-color: #e8bdac;
}

.format-text {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 3px;
}
.word-wrap{
  word-wrap: break-word;
}

.v-top {
  vertical-align: top !important;
}

.sortorder:after {
  content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLE*/
}
.sortorder.reverse:after {
  content: '\25b2';   /*BLACK UP-POINTING TRIANGLE*/
}

.hide-arrows::-webkit-inner-spin-button,
.hide-arrows::-webkit-calendar-picker-indicator,
.hide-arrows::-webkit-clear-button{
  display: none;
  -webkit-appearance: none;
}

.vertical-text {
  transform: rotate(90deg);
}
.m--4{
  margin: -5px;
}
/* style scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.width100{
  width: 100%
}

.light-success {
  background-color: #88ef83 !important;
}

.sm.select2-container .select2-choice {
  height: 30px;
  line-height: 26px;
}
.table-borderless td,
.table-borderless th {
  border: 0!important;
  border-bottom-color: #0f0f0f!important;
}
/* ---------------------------------------------- LEFT - MENU ---------------------------------------------- */
#left-menu a, #left-menu span {
  color: black;
  //  text-shadow: 6px 6px 6px #222;
  font-weight: bold;
  margin-top: 2px;
}

#left-menu .left-menu-header {
  padding-top: 10px;
}

#left-menu hr {
  margin-top: 5px;
}

#left-menu li {
  margin-top: 6px;
}

#left-menu ul li ul li a i {
  font-size: 14px;
}

.container-fluid-menu, .sidebar, .body-menu {
  height: 100%;
}
.container-fluid-menu {
  padding-left: 0;
  margin-left:-15px;
}

.container-fluid-menu .navbar-header {
  width: 15%;
  padding: 0 1%;
  margin-top: 8px;
}

.container-fluid-menu .navbar-header a {
  font-size: 1.1vmax;
}
.body-menu {
  min-height: 600px;
  float: left;
  width: 84%;
  padding: 10px 5px 0 5px;
  overflow-y: auto;
}
.shadow {
  text-shadow: 4px 4px 4px #222;
  color: #ffffff !important;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all ease 0.8s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
.sidebar {
  width: 16%;
  float: left;
  height: 100%;
  padding: 0 6px;
  padding-right: 0;
  background: linear-gradient(to top,#d4cfc8 0,#fff 100%);
}

.overflow-y {
  overflow-y: visible;
}