include index
include dependecies
body
  block content
    body(ng-app="acte-auto" ng-controller="mainCtrl")
      div(ng-include="'app/admin/main/header'")
      .container-fluid
        .body
          div(ng-view='')
    script(src='dist/adminApp.min.js')
    script(src='dist/service.min.js')