include index
include dependecies
body
  block content
    body(ng-app="acte-auto" ng-controller="mainCtrl")
      div(dw-loading="loading-container" dw-loading-options="{text: 'Se încarcă...'}")
        div(ng-include="'app/client/main/header'")
        .container-fluid
          .body
            div(ng-view='')
    script(src='dist/cliApp.min.js')
    script(src='dist/service.min.js')