// css
link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="lib/angular-toastr/dist/angular-toastr.min.css")
link(rel="stylesheet" href="lib/angular-dialog-service/dist/dialogs.min.css")
link(rel="stylesheet" href="lib/angular-ui-grid/ui-grid.min.css")
link(rel="stylesheet" href='lib/font-awesome/css/all.min.css')
link(rel="stylesheet" href='app/library/angular-ui-select/select.min.css')
link(rel="stylesheet" href='lib/select2/select2.css')
link(rel="stylesheet" href='lib/angular-loading/angular-loading.css')
link(rel="stylesheet" href="dist/css/registru.css")

// js
script(src='lib/jquery/dist/jquery.min.js')
script(src='lib/socket.io-client/dist/socket.io.js')
script(src='lib/angular/angular.min.js')
script(src='lib/angular-cookies/angular-cookies.min.js')
script(src='lib/angular-resource/angular-resource.min.js')
script(src='lib/angular-route/angular-route.min.js')
script(src='lib/angular-sanitize/angular-sanitize.min.js')
script(src='lib/bootstrap/dist/js/bootstrap.min.js')
script(src='lib/angular-bootstrap/ui-bootstrap.min.js')
script(src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src='lib/angular-ui-grid/ui-grid.min.js')
//script(src='lib/pdfmake/build/pdfmake.min.js')
//script(src='lib/pdfmake/build/vfs_fonts.js')
script(src='lib/angular-toastr/dist/angular-toastr.min.js')
script(src='lib/angular-toastr/dist/angular-toastr.tpls.min.js')
script(src='lib/angular-dialog-service/dist/dialogs.min.js')
script(src='lib/ngstorage/ngStorage.min.js')
script(src='lib/lodash/dist/lodash.min.js')
script(src='app/library/angular-ui-select/select.js')
script(src='lib/async/dist/async.min.js')
script(src='lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
script(src='lib/spin.js/spin.js')
script(src='lib/angular-loading/angular-loading.min.js')


