doctype html
html(lang="ro")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="baed125413aa3912cc0452f11058376bda3c799e" content="f7dde7d438ae860b56011f9982db6a1f4ae0a9f9")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="Your Consulting Team")
    title Acte auto
    link(rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css' type="text/css")
    link(rel="stylesheet" href='lib/font-awesome/css/all.min.css' type="text/css")
    link(rel="stylesheet" href="dist/css/login.css" type="text/css")
    if !!bootstrappedUser
      script.
          window.bootstrappedUser = !{JSON.stringify(bootstrappedUser)}
  body(oncontextmenu="return false;")
    .logIn
      .navbar.navbar-static-top
        .container-fluid
          .navbar-header
            div.head-div
              a.text-center
                //img.img-rounded.img-header-yc(src="/app/images/logo.png")
          #navLogIn.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right.m-0
              //li
                a.fonth3(href='https://yourconsulting.ro/views/software/program-registru-agricol.html' target='blank')
                  i.glyphicon.glyphicon-info-sign
                  span  Informaţii aplicaţie
              li
                form.p-top-15(accept-charset='UTF-8' name='forms' role='form' action="/" method="post")
                  input(type='hidden' name='email' value='office.demoyc@gmail.com')
                  input(type='hidden' name='password' value='parolacontdemo*')
                  a.text-decoration.fonth3(href='#' onclick='forms.submit()')
                    i.fas.fa-desktop
                    span  Demo
      .sp-container
        .sp-content
          h2#frnme.frame-1
            span Acte
            span    auto
          h2#frnme.frame-1
            span Acte
            span    auto
          //a#linkYour.sp-circle-link(href='https://yourconsulting.ro/' target="_blank") YourConsulting Soft
          #form-logIn
            .panel.panel-logIn.login-form
              .panel-heading
                h3.panel-title.text-center Autentificare
              .panel-body
                form(accept-charset='UTF-8' role='form' action="/" method="post" ng-keypress="($event.which === 13)? submit:0")
                  fieldset
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.fas.fa-user
                        input.form-control(placeholder='E-mail' name='email' type='text')
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.fas.fa-key
                        input.form-control(placeholder='Parola' name='password' type='password' value='')
                    input.btn.btn-lg.btn-success.btn-block(type='submit' value='Intră în cont')
                    if !success
                      h4.text-center.text-danger
                        span #{message}
script(type='text/javascript').
    window.onload = function () {
        window.moveTo(0, 0);
        window.resizeTo(screen.availWidth, screen.availHeight);
    };