.modal-header
  span Schimbare an de lucru
.modal-body.overflow-y
  .row
    form.form-horizontal(ng-keypress="($event.which === 13) ? save() : 0")
      label.control-label.col-xs-3 Anul
      .col-xs-7
        ui-select(ng-model='modal.year' theme='select2' style='width: 100%' search-enabled='false' append-to-body='true')
          ui-select-match {{$select.selected}}
          ui-select-choices(repeat='s in years')
            div(ng-bind-html='s | highlight: $select.search')
.modal-footer
  button.btn.btn-sm.btn-default(ng-click='$dismiss()') Renunţă
  button.btn.btn-sm.btn-success(ng-click='save()') Salvează