.col-xs-4.p-0
    button.btn.btn-xs.btn-primary.m-right-5(type='button' ng-click='addUser();')
        i.fa.fa-user-plus
        |   Adaugă Utilizator
    .btn-group(uib-dropdown)
        button.btn.btn-xs.btn-info(uib-dropdown-toggle)
            i.fa.fa-random
            |   Status utilizatori
            span.m-left-5.caret
        ul.dropdown-menu.m-0(uib-dropdown-menu='' role='menu' aria-labelledby='single-button')
            li(role='menuitem')
                a.cursor-pointer(ng-click='allUsers();')
                    | Toți utilizatorii
            li(role='menuitem')
                a.cursor-pointer(ng-click='activeUsersNow();')
                    | Online
            li(role='menuitem')
                a.cursor-pointer(ng-click='activeUsersToday();')
                    | Autentificaţi astăzi
.col-xs-4
    h3.text-center.font-title.m-top-0 Utilizatori {{userStatus}}
.col-xs-12.p-0
    .gridStyle1.grUsers#grUser(ui-grid='gridUsers' ui-grid-resize-columns ui-grid-exporter)