.modal-header
  span(ng-if='!user.id') Creare cont utilizator
  span(ng-if='user.id') Editare cont utilizator
.modal-body
  .row
    form.form-horizontal(ng-keypress='($event.which === 13)? salveaza():0')
      .col-xs-12.p-bottom-7
        label.control-label.col-xs-3 Tip user
        .col-xs-3.p-right-7
          ui-select(ng-model='user.role' theme='select2' style='width: 100%;' append-to-body='true' search-enabled='false')
            ui-select-match {{$select.selected}}
            ui-select-choices(repeat='s in roles')
              div(ng-bind-html='s')
      section(ng-if='user.role == "clientAdmin"')
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3 Cod fiscal
          .col-xs-7
            input.input-md.form-control(ng-model='user.unit.cui' allow-number maxlength = 9 auto-focus ng-blur='veryfyCuiEmail(); getCompanyDetails(user.unit.cui)')
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3 Denumire unit
          .col-xs-7
            input.input-md.form-control(ng-model='user.unit.name' maxlength=255)

        .col-xs-12.p-bottom-10
          label.control-label.col-sm-3 Județ
          .col-sm-7
            ui-select(ng-model='user.unit.address.id_county' theme='select2' style='width: 100%;' ng-change='changeCounty(user.unit.address.id_county); ')
              ui-select-match(placeholder='Selectează județul') {{$select.selected.name}}
              ui-select-choices(repeat='s.id as s in county | propsFilter: {name: $select.search}')
                div(ng-bind='::s.name')
        .col-xs-12.p-bottom-10
          label.control-label.col-sm-3(ng-if='user.id_county!=40') Municipu / oraș / comună
          label.control-label.col-sm-3(ng-if='user.id_county==40') Municipiul Bucureşti
          .col-sm-7
            ui-select(ng-model='user.unit.address.id_locality' theme='select2' style='width: 100%;' ng-change='changeLocality(user.unit.address.id_locality);')
              ui-select-match(placeholder='Selectează municipul / orașul / comuna') {{$select.selected.name}}
              ui-select-choices(repeat='s.id as s in localities | propsFilter: {name: $select.search}')
                div(ng-bind='::s.name')
        .col-xs-12.p-bottom-10(ng-if='user.unit.address.id_locality')
          label.control-label.col-sm-3 Localitate / sat
          .col-sm-7
            ui-select(ng-model='user.unit.address.id_village' theme='select2' style='width: 100%;')
              ui-select-match(placeholder='Selectează localitatea / satul') {{$select.selected.name}}
              ui-select-choices(repeat='s.id as s in villages | propsFilter: {name: $select.search}')
                div(ng-bind='::s.name')

        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3 Strada
          .col-xs-4
            input.input-md.form-control(ng-model='user.unit.address.street' maxlength=255)
          label.control-label.col-xs-1 Număr
          .col-xs-2
            input.input-md.form-control(ng-model='user.unit.address.number' maxlength=255)
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3 Nume utilizator
          .col-xs-7
            input.input-md.form-control(ng-model='user.last_name' maxlength=255)
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3.text-nowrap Prenume utilizator
          .col-xs-7
            input.input-md.form-control(ng-model='user.first_name' maxlength=255)
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3 Email
          .col-xs-7
            input.input-md.form-control(ng-model='user.email' ng-blur='veryfyCuiEmail()' maxlength=255)
        .col-xs-12.p-bottom-7(ng-if='!user.id')
          label.control-label.col-xs-3 Parola
          .col-xs-7
            input.input-md.form-control(ng-model='user.password' maxlength=255)
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3 Telefon
          .col-xs-7
            input.input-md.form-control(ng-model='user.phone' allow-number minlength = 10 maxlength= 11)

      section(ng-if='user.role == "admin" || user.role == "sa" || user.role == "client"')
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3 Nume utilizator
          .col-xs-7
            input.input-md.form-control(ng-model='user.last_name' maxlength=255)
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3.text-nowrap Prenume utilizator
          .col-xs-7
            input.input-md.form-control(ng-model='user.first_name' maxlength=255)
        .col-xs-12.p-bottom-7
          label.control-label.col-xs-3 Email
          .col-xs-7
            input.input-md.form-control(ng-model='user.email' ng-blur='veryfyCuiEmail()' maxlength=255)
        .col-xs-12.p-bottom-7(ng-if='!user.id')
          label.control-label.col-xs-3 Parola
          .col-xs-7
            input.input-md.form-control(ng-model='user.password' maxlength=255)
        .col-xs-12
          label.control-label.col-xs-3 Telefon
          .col-xs-7
            input.input-md.form-control(ng-model='user.phone' allow-number minlength = 10 maxlength= 11)

.modal-footer
  button.btn.btn-sm.btn-default(ng-click='$dismiss()') Renunţă
  button.btn.btn-sm.btn-success(ng-click='save()' ng-if='!user.id') Adaugă
  button.btn.btn-sm.btn-success(ng-click='save()' ng-if='user.id') Salvează
