fieldset
    legend Act de identitate
    .col-xs-12.p-bottom-5
        label.control-label.col-xs-2 Cnp
        .col-xs-3(ng-class='modal.invalid_cnp ? "has-error" : "has-success"')
            input.form-control.input-sm(ng-model='modal.cnp' allow-number maxlength=13)
        //label.control-label.col-xs-1.text-danger.text-left(ng-show='modal.buletin.invalid_cnp') CNP greșit!
        label.control-label(ng-class='modal.invalid_cnp ? "col-xs-1" : "col-xs-2"') Tip buletin
        .col-xs-4.p-right-0
            .col-xs-3.p-left-right-0
                ui-select.sm.w100pr(ng-model='modal.type' search-enabled='false')
                    ui-select-match {{$select.selected}}
                    ui-select-choices(repeat='val in draft.tipuriBuletin')
                        div(ng-bind='val')
            label.control-label.col-xs-1 Serie
            .col-xs-3
                input.form-control.input-sm(ng-model='modal.series' maxlength=3)
    .col-xs-12.p-bottom-5
        label.control-label.col-xs-2.text-nowrap Număr buletin
        .col-xs-3
            input.form-control.input-sm(ng-model='modal.number' maxlength=15 allow-number)
        label.control-label.col-xs-2 Eliberat de
        .col-xs-4
            input.form-control.input-sm(ng-model='modal.released' maxlength=255)
    .col-xs-12.p-bottom-5
        label.control-label.col-xs-2 De la data de
        .col-xs-3
            input.form-control.input-sm(type='date' ng-model='modal.release_date' local-date ng-blur='verifyData(modal.buletin, "data_eliberare", "de eliberare a buletinului")')
        label.control-label.col-xs-2 Până la data de
        .col-xs-4
            input.form-control.input-sm(type='date' ng-model='modal.expiration_date' local-date ng-blur='verifyData(modal.buletin, "data_expirare", "de expirare a buletinului")')