.modal-header
  span.font-modal Adaugă persoană
.modal-body
  form.form-horizontal(ng-keypress='($event.which === 13) ? salveaza() : 0')
    .row
      .col-xs-12
        label.control-label.col-xs-4 Tip persoană
        .col-xs-4
          ui-select(ng-model='person.pf' theme='select2' style='width:100%' search-enabled='false' close-on-select='true')
            ui-select-match.font-12(placeholder='Selectaţi tipul de persoana') {{$select.selected.name}}
            ui-select-choices(repeat='s.val as s in ob.personType')
              div {{s.name}}
      section(ng-if='person.pf')
        fieldset
          legend Date despre persoană
          .col-xs-12.p-bottom-5
            label.control-label.col-xs-2 Nume
            .col-xs-3
              input.form-control.input-sm(ng-model='person.first_name' autofocus capitalize-first)
            label.control-label.col-xs-2 Prenume
            .col-xs-4
              input.form-control.input-sm(ng-model='person.last_name' capitalize-first)
        fieldset
          legend Adresa de domiciliul
          .col-xs-12.p-bottom-5
            label.control-label.col-xs-2 Tara
            .col-xs-4
              ui-select(ng-model='person.address.id_country' theme='select2' style='width:100%' close-on-select='true' ng-change='changeCountry(person.address)')
                ui-select-match.font-12 {{$select.selected.name}}
                ui-select-choices(repeat='s.id as s in country | propsFilter: {name: $select.search}')
                  div {{s.name}}
            section(ng-if='person.address.id_country === 1')
              label.control-label.col-xs-2 Județ {{villageTypes[ob.typeLocality-1].val}}
              .col-xs-4
                ui-select(ng-model='person.address.id_county' theme='select2' style='width:100%' close-on-select='true' ng-change='changeCounty(person.address, ob)')
                  ui-select-match.font-12 {{$select.selected.name}}
                  ui-select-choices(repeat='s.id as s in county | propsFilter: {name: $select.search}')
                    div {{s.name}}
          section(ng-if='person.address.id_country === 1')
            .col-xs-12.p-bottom-5
              //label.control-label.col-xs-2(ng-bind='ob.typeLocality')
              label.control-label.col-xs-2(ng-if='locTypes[ob.typeLocality-1].art === "Municipiul"') Municipiu
              label.control-label.col-xs-2(ng-if='locTypes[ob.typeLocality-1].art === "Oraşul"') Oraș
              label.control-label.col-xs-2(ng-if='locTypes[ob.typeLocality-1].art === "Comuna"') Comună

              .col-xs-4
                ui-select(ng-model='person.address.id_locality' theme='select2' style='width:100%' close-on-select='true' ng-change='changeLocality(person.address, ob)')
                  ui-select-match.font-12 {{$select.selected.name}}
                  ui-select-choices(repeat='s.id as s in ob.locality | propsFilter: {name: $select.search}')
                    div {{s.name}}
              //label.control-label.col-xs-2(ng-bind='ob.typeVillage')
              label.control-label.col-xs-2(ng-if='ob.typeLocality === 1') Localitate
              label.control-label.col-xs-2(ng-if='ob.typeLocality === 2') Localitate
              label.control-label.col-xs-2(ng-if='ob.typeLocality === 3') Sat
              .col-xs-4
                ui-select(ng-model='person.address.id_village' theme='select2' style='width:100%' close-on-select='true' ng-change='getStreets(person.address.id_village)')
                  ui-select-match.font-12 {{$select.selected.name}}
                  ui-select-choices(repeat='s.id as s in ob.village | propsFilter: {name: $select.search}')
                    div {{s.name}}
            .col-xs-12.p-bottom-5
              label.control-label.col-xs-2 Strada
              .col-xs-10
                input.form-control.input-sm(ng-model='person.address.street' maxlength=255)
                //.input-group
                  ui-select.sm(ng-model='person.address.id_street' theme='select2' style='width:100%' close-on-select='true')
                    ui-select-match.font-12 {{$select.selected.name}}
                    ui-select-choices(repeat='s.id as s in streets | propsFilter: {name: $select.search}')
                      div {{s.name}}
                  span.input-group-btn
                    button.btn.btn-sm.btn-primary.btn-default(ng-click='addStreet()')
                      i.glyphicon.glyphicon-plus
            .col-xs-12.p-bottom-5
              label.control-label.col-xs-2 Numar
              .col-xs-4
                input.form-control.input-sm(ng-model='person.address.number' maxlength=8)
              label.control-label.col-xs-2 Cod Postal
              .col-xs-4
                input.form-control.input-sm(ng-model='person.address.postal_code' maxlength=6)
            .col-xs-12.p-bottom-5
              label.control-label.col-xs-2 Bloc
              .col-xs-2
                input.form-control.input-sm(ng-model='person.address.block' maxlength=5)
              label.control-label.col-xs-1.p-left-0 Etaj
              .col-xs-1.p-left-0
                input.form-control.input-sm(ng-model='person.address.floor' maxlength=5)
              label.control-label.col-xs-2.p-left-0 Scara
              .col-xs-1.p-right-0
                input.form-control.input-sm(ng-model='person.address.staircase' maxlength=5)
              label.control-label.col-xs-1 Apart
              .col-xs-2
                input.form-control.input-sm(ng-model='person.address.apartment' maxlength=5)
        fieldset
          legend Act de identitate
          .col-xs-12.p-bottom-5
            label.control-label.col-xs-2 Cnp
            .col-xs-3(ng-class='person.invalid_cnp ? "has-error" : "has-success"')
              input.form-control.input-sm(ng-model='person.cnp' allow-number maxlength=13)
            //label.control-label.col-xs-1.text-danger.text-left(ng-show='modal.buletin.invalid_cnp') CNP greșit!
            label.control-label(ng-class='person.invalid_cnp ? "col-xs-1" : "col-xs-2"') Tip buletin
            .col-xs-4.p-right-0
              .col-xs-3.p-left-right-0
                ui-select.sm.w100pr(ng-model='person.type' search-enabled='false')
                  ui-select-match {{$select.selected}}
                  ui-select-choices(repeat='val in draft.tipuriBuletin')
                    div(ng-bind='val')
              label.control-label.col-xs-1 Serie
              .col-xs-3
                input.form-control.input-sm(ng-model='person.series' maxlength=3)
          .col-xs-12.p-bottom-5
            label.control-label.col-xs-2.text-nowrap Număr buletin
            .col-xs-3
              input.form-control.input-sm(ng-model='person.number' maxlength=15 allow-number)
            label.control-label.col-xs-2 Eliberat de
            .col-xs-4
              input.form-control.input-sm(ng-model='person.released' maxlength=255)
          .col-xs-12.p-bottom-5
            label.control-label.col-xs-2 De la data de
            .col-xs-3
              input.form-control.input-sm(type='date' ng-model='person.release_date' local-date ng-blur='verifyData(modal.buletin, "data_eliberare", "de eliberare a buletinului")')
            label.control-label.col-xs-2 Până la data de
            .col-xs-4
              input.form-control.input-sm(type='date' ng-model='person.expiration_date' local-date ng-blur='verifyData(modal.buletin, "data_expirare", "de expirare a buletinului")')
.modal-footer
  button.btn.btn-sm.btn-default(ng-click='$dismiss()') Renunţă
  button.btn.btn-sm.btn-success(ng-click='save();') Adaugă