.col-xs-12
  .col-xs-4.col-xs-offset-4.text-center
    span.font-title  Persoane
.col-xs-12.p-bottom-5
  button.btn.btn-xs.btn-primary(ng-click='addPerson();')
    i.fa.fa-plus
    |   Adaugă persoana
.col-xs-12
  #grPerson.gridStyle(ui-grid='gridPerson' ui-grid-resize-columns)