nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      .inline-block.float-left#to-hide
        a.slidebar-toggle.pull-left(href='javascript:history.back(-1);')
          i.glyphicon.glyphicon-arrow-left.m-top-15
        a.slidebar-toggle.pull-left.p-left-10(href='javascript:location.reload();')
          i.glyphicon.glyphicon-repeat.m-top-15
    //.navbar-header
      a.navbar-brand(href='https://yourconsulting.ro/' target='_blank')
        img.img-responsive(src='app/images/logo.png' alt='YourConsulting')
    ul.nav.navbar-nav
      li
        a(href='#/users')
          i.glyphicon.glyphicon-user
          |   Utilizatori
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href='' data-toggle='dropdown')
          b   {{userName}} &nbsp
          i.fa.fa-cog.fa-spin.font-20
        ul.dropdown-menu(role='menu')
          li
            a(href='' ng-click='editProfile()')
              i.glyphicon.glyphicon-user
              |   Profil
          li
            a(href='' ng-click='resetPw()')
              i.glyphicon.glyphicon-edit
              |   Resetare parolă
          li.divider
          li
            a(href='/auth/logout' ng-click='logOut()')
              i.glyphicon.glyphicon-off
              |   Deconectare

