.modal-header
  span.font-modal(ng-bind='buyer.id ? "Editează cumpărător" : "Adaugă cumpărător"')
.modal-body
  form.form-horizontal(ng-keypress='($event.which === 13) ? salveaza() : 0')
    .row
      .col-xs-12.p-bottom-5
        label.control-label.col-xs-4 Tip persoană
        .col-xs-4
          ui-select(ng-model='buyer.pf' theme='select2' style='width:100%' search-enabled='false' close-on-select='true')
            ui-select-match.font-12(placeholder='Selectaţi tipul de persoana') {{$select.selected.name}}
            ui-select-choices(repeat='s.val as s in ob.personType')
              div {{s.name}}
      .col-xs-12.p-bottom-5
        label.control-label.col-xs-2 Nume
        .col-xs-3
          input.form-control.input-sm(ng-model='buyer.first_name' autofocus capitalize-first)
        label.control-label.col-xs-3 Prenume
        .col-xs-4
          input.form-control.input-sm(ng-model='buyer.last_name' capitalize-first)
      .col-xs-12.p-bottom-5
        label.control-label.col-xs-2 Tara
        .col-xs-4
          ui-select(ng-model='buyer.address.id_country' theme='select2' style='width:100%' close-on-select='true' ng-change='changeCountry(buyer.address)')
            ui-select-match.font-12 {{$select.selected.name}}
            ui-select-choices(repeat='s.id as s in country | propsFilter: {name: $select.search}')
              div {{s.name}}
        section(ng-if='buyer.address.id_country === 1')
          label.control-label.col-xs-2 Județ {{villageTypes[ob.typeLocality-1].val}}
          .col-xs-4
            ui-select(ng-model='buyer.address.id_county' theme='select2' style='width:100%' close-on-select='true' ng-change='changeCounty(buyer.address, ob)')
              ui-select-match.font-12 {{$select.selected.name}}
              ui-select-choices(repeat='s.id as s in county | propsFilter: {name: $select.search}')
                div {{s.name}}
      section(ng-if='buyer.address.id_country === 1')
        .col-xs-12.p-bottom-5
          label.control-label.col-xs-2(ng-if='locTypes[ob.typeLocality-1].art === "Municipiul"') Municipiu
          label.control-label.col-xs-2(ng-if='locTypes[ob.typeLocality-1].art === "Oraşul"') Oraș
          label.control-label.col-xs-2(ng-if='locTypes[ob.typeLocality-1].art === "Comuna"') Comună

          .col-xs-4
            ui-select(ng-model='buyer.address.id_locality' theme='select2' style='width:100%' close-on-select='true' ng-change='changeLocality(buyer.address, ob)')
              ui-select-match.font-12 {{$select.selected.name}}
              ui-select-choices(repeat='s.id as s in ob.locality | propsFilter: {name: $select.search}')
                div {{s.name}}
          label.control-label.col-xs-2(ng-if='ob.typeLocality === 1') Localitate
          label.control-label.col-xs-2(ng-if='ob.typeLocality === 2') Localitate
          label.control-label.col-xs-2(ng-if='ob.typeLocality === 3') Sat
          .col-xs-4
            ui-select(ng-model='buyer.address.id_village' theme='select2' style='width:100%' close-on-select='true' ng-change='getStreets(buyer.address.id_village)')
              ui-select-match.font-12 {{$select.selected.name}}
              ui-select-choices(repeat='s.id as s in ob.village | propsFilter: {name: $select.search}')
                div {{s.name}}
        .col-xs-12.p-bottom-5
          label.control-label.col-xs-2 Strada
          .col-xs-10
            input.form-control.input-sm(ng-model='buyer.address.street' maxlength=255)
        .col-xs-12.p-bottom-5
          label.control-label.col-xs-2 Numar
          .col-xs-4
            input.form-control.input-sm(ng-model='buyer.address.number' maxlength=8)
          label.control-label.col-xs-2 Cod Postal
          .col-xs-4
            input.form-control.input-sm(ng-model='buyer.address.postal_code' maxlength=6)
        .col-xs-12.p-bottom-5
          label.control-label.col-xs-2 Bloc
          .col-xs-2
            input.form-control.input-sm(ng-model='buyer.address.block' maxlength=5)
          label.control-label.col-xs-1.p-left-0 Etaj
          .col-xs-1.p-left-0
            input.form-control.input-sm(ng-model='buyer.address.floor' maxlength=5)
          label.control-label.col-xs-2.p-left-0 Scara
          .col-xs-1.p-right-0
            input.form-control.input-sm(ng-model='buyer.address.staircase' maxlength=5)
          label.control-label.col-xs-1 Apart
          .col-xs-2
            input.form-control.input-sm(ng-model='buyer.address.apartment' maxlength=5)
      .col-xs-12.p-bottom-5
        label.control-label.col-xs-2 Cnp
        .col-xs-3(ng-class='buyer.invalid_cnp ? "has-error" : "has-success"')
          input.form-control.input-sm(ng-model='buyer.cnp' allow-number maxlength=13)
        //label.control-label.col-xs-1.text-danger.text-left(ng-show='modal.buletin.invalid_cnp') CNP greșit!
        label.control-label.col-xs-3 Tip buletin
        .col-xs-4.p-right-0
          .col-xs-3.p-left-right-0
            ui-select.sm.w100pr(ng-model='buyer.type' search-enabled='false')
              ui-select-match {{$select.selected}}
              ui-select-choices(repeat='val in draft.tipuriBuletin')
                div(ng-bind='val')
          label.control-label.col-xs-1.p-left-right-15 Serie
          .col-xs-7
            input.form-control.input-sm(ng-model='buyer.series' maxlength=3)
      .col-xs-12.p-bottom-5
        label.control-label.col-xs-2.text-nowrap Număr buletin
        .col-xs-3
          input.form-control.input-sm(ng-model='buyer.number' maxlength=15 allow-number)
        label.control-label.col-xs-3 Eliberat de
        .col-xs-4
          input.form-control.input-sm(ng-model='buyer.released' maxlength=255)
      .col-xs-12.p-bottom-5
        label.control-label.col-xs-2 De la data de
        .col-xs-3
          input.form-control.input-sm(type='date' ng-model='buyer.release_date' local-date ng-blur='verifyData(modal.buletin, "data_eliberare", "de eliberare a buletinului")')
        label.control-label.col-xs-3 Până la data de
        .col-xs-4
          input.form-control.input-sm(type='date' ng-model='buyer.expiration_date' local-date ng-blur='verifyData(modal.buletin, "data_expirare", "de expirare a buletinului")')

.modal-footer
  button.btn.btn-sm.btn-default(ng-click='$dismiss()') Renunţă
  button.btn.btn-sm.btn-success(ng-click='save();') Adaugă