.modal-header
  span Editare profil
.modal-body
  .row
    form.form-horizontal(ng-keypress='($event.which === 13) ? save() : 0')
      .col-md-12.p-bottom-7
        label.control-label.col-md-3 Numele
        .col-md-7
          input.input-md.form-control(ng-model='modal.last_name' maxlength=255)
      .col-md-12.p-bottom-7
        label.control-label.col-md-3 Prenumele
        .col-md-7
          input.input-md.form-control(ng-model='modal.first_name' maxlength=255)
      .col-md-12
        label.control-label.col-md-3 Telefon
        .col-md-7
          input.input-md.form-control(allow-number  minlength=10 maxlength=11  ng-model='modal.phone')
.modal-footer
  button.btn.btn-sm.btn-default(ng-click='$dismiss()') Renunţă
  button.btn.btn-sm.btn-success(ng-click='save()') Salvează