.container-fluid-menu
  #left-menu.sidebar(ng-click='changeLeftMenu(maxLeft)')
    include ../../main/left-menu
  #bodyMain.body-menu
    form.form-horizontal(ng-keypress='($event.which === 13) ? salveaza() : 0')
      .row
        .col-xs-12.p-left-right-15.p-bottom-10
          button.btn.btn-xs.btn-success(ng-click='save(person);') Salvează
        .col-xs-12
          label.control-label.col-xs-2 Nr. proces verbal
          .col-xs-2
            input.input-sm.form-control(ng-model='registration.trial_verbal')
          label.control-label.col-xs-2 Data
          .col-xs-2
            input.input-sm.form-control(type='date' ng-model='registration.date_verbal')