.modal-header
  span Resetare parolă
.modal-body
  .row
    form.form-horizontal(ng-keypress='($event.which === 13) ? save() : 0')
      .col-md-12.p-bottom-7
        label.control-label.col-md-4 Parola veche
        .col-md-5
          input.input-md.form-control(ng-model='modal.oldPass' maxlength=255 auto-focus ng-blur='checkPassword(modal.oldPass)')
      .col-md-12.p-bottom-7
        label.control-label.col-md-4 Parola nouă
        .col-md-5
          input.input-md.form-control(ng-model='modal.newPass' maxlength=255)
      .col-md-12
        label.control-label.col-md-4 Verificare parolă nouă
        .col-md-5
          input.input-md.form-control(ng-model='modal.checkPass' maxlength=255)
.modal-footer
  button.btn.btn-sm.btn-default(ng-click='$dismiss()') Renunţă
  button.btn.btn-sm.btn-success(ng-click='save()') Salvează